body {
    margin: 0;
    font-family: 'Fira Sans';
    color: white;
    background: #000000;
}

canvas {
    position:fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000000, #100e9b, #b21bd8);
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 400px;
    padding: 80px 20vw;

}

h1 {
    font-size: 80px;
    font-weight: bold;
}

.blue {
    background: #227fe3;
}

.purple {
    background: #1e0141;
}

.spacer {
    aspect-ratio: 900/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    overflow: visible;
    z-index: 8;
    
}

.layer1 {
    background-image: url('./svg/layered-peaks-haikei\ \(8\).svg');
    z-index: 8;
}

.layer2 {
    background-image: url('./svg/stacked-steps-haikei.svg')
}

.text-gradient {
    background: linear-gradient(to right, #b21bd8, #100e9b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    background-color: #227fe3;
    color: white;
    font-family: 'Fira Sans';
    font-size: 18;
    padding: 18px;
    margin: 0.5rem;
    border-radius: 100%;
    border-style: none;
    transition: all 0.3s ease;
    float: left;
    cursor: pointer;
}

.btn2 {
    background-color: #227fe3;
    color: white;
    font-family: 'Fira Sans';
    font-weight: bold;
    font-size: 18;
    padding: 12px 24px;
    margin: 0.5rem;
    border-radius: 4px;
    border-style: none;
    transition: all 0.3s ease;
    float: left;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(5, 36, 77);
    transition: all 0.3s ease;
}

.btn2:hover {
    background-color: rgb(5, 36, 77);
    transition: all 0.3s ease;
}


@media only screen and (max-width: 600px) {
    html{
        scroll-behavior: smooth;
    }
    
    h1 {
        font-size: 40px;
        font-weight: bold;
    }

    .btn {
        background-color: #227fe3;
        font-family: 'Fira Sans';
        font-size: 18;
        border-radius: 100%;
        padding: 20px;
        margin: 0.5rem;
        border-style: none;
        transition: all 0.3s ease;
        display: inline-block;
    }
    
    .btn-group {
        padding: 10px;
    }
}